# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
obj/Debug/net6.0-windows/WDT Editor FDID.assets.cache
obj/Debug/net6.0-windows/WDT Editor FDID.genruntimeconfig.cache
obj/Debug/net6.0-windows/WDT Editor FDID.csproj.FileListAbsolute.txt
*.cache
bin/Debug/net6.0-windows/listfile01.csv
bin/Debug/net6.0-windows/listfile22.csv
bin/Debug/net6.0-windows/test.txt
obj/Debug/net6.0-windows/WDT Editor FDID.csproj.FileListAbsolute.txt
obj/Debug/net6.0-windows/WDT Editor FDID.genruntimeconfig.cache
obj/Debug/net6.0-windows/WDT Editor FDID.csproj.GenerateResource.cache
*.rar
bin/Debug/net6.0-windows/splitfiles.csv
bin/Debug/net6.0-windows/listfileonlyadts.1csv
bin/Debug/net6.0-windows/listfileonlyad1ts.csv
bin/Debug/net6.0-windows/New Text Document.txt
bin/Debug/net6.0-windows/listfileonlyadts.1csv
